/* Custom CSS para efeitos adicionais */
.img-zoom-container {
    overflow: hidden;
}

.img-zoom {
    transition: transform 0.5s ease-in-out;
}

.img-zoom-container:hover .img-zoom {
    transform: scale(1.08);
}

/* Personalização da barra de rolagem dos modais */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
    background: #C59B27;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7A1C1C;
}
